<!doctype HTML>
<html>
<head>
<title><%= title %></title>
<script src="js/jq.min.js" ></script>
<link rel="stylesheet" href="BS/css/bootstrap.min.css">
<script src="BS/js/bootstrap.min.js" ></script>
<script src="BS/js/bootstrap.bundle.min.js" ></script>

<script src="js/jq.js"></script>
<link rel="stylesheet" href="style.css">
</head>
<body>

